doctype html
html(lang="en")
	head
		include /utilities/_head.pug
	body
		include /utilities/_navbar.pug
		+navbar-mixin('navbar-dark', 'btn-secondary')


		// HERO
		#hero.bg-info
			.container.jarallax(style="background: url('/images/bg/bg_01.svg') center center no-repeat;")
				.row.pt-6.hero-height(data-aos="fade")
					.col-lg-5.col-md-12.my-auto.pt-14.pb-6.pt-lg-0.pb-lg-0.mr-auto
						.mb-3.d-flex.align-items-center
							.icon.icon-sm.bg-white.text-info.rounded.mr-2
								i.fas.fa-clock
							span.text-white Version 2.0.0
						h1.display-3.mb-3.text-white
							| Do it better with&nbsp;Replacer
						p.lead.mb-5.text-white
							| Replacer is a modern and powerful theme for perfectionists with deadlines, it provides content-oriented, clean and mobile-first design
						.mb-4
							a.btn.btn-white.px-5.my-1.mr-2.rounded-pill(href='#')
								i.fab.fa-google-play.mr-2.small
								| Google Play
							a.btn.btn-white.px-5.my-1.rounded-pill(href='#')
								i.fab.fa-apple.mr-2
								| App Store
						span
							span.text-warning
								i.fas.fa-star.mr-1
								i.fas.fa-star.mr-1
								i.fas.fa-star.mr-1
								i.fas.fa-star.mr-1
								i.fas.fa-star-half-alt.mr-2
							span.text-white 4.8 points, based on 267 reviews
					.col-lg-6.col-md-12.mt-auto
						img.mt-auto.w-100(alt='Iphone' src='/images/devices/iphone_cropped.png')


		// NOTICE
		#notice
			.alert.alert-light.bg-white.text-muted.border-0.p-0(role="alert")
				.container
					.row.py-3
						.col.d-flex.flex-column.flex-lg-row.flex-xl-row
							.my-auto.mr-auto.text-muted.py-1
								span.icon.icon-sm.bg-primary.rounded.text-white.mr-2
									i.fas.fa-clock
								|  Develop beautiful landing pages, using top-notch layouts
							.my-auto.py-1
								button.btn.btn-secondary-light.text-secondary.btn-sm.rounded-pill.px-3(type='button', data-toggle='modal', data-target='#login-modal')
									i.far.fa-clone.mr-2
									| Register for free
					hr.border-gray


		// COUNTERS
		#counters.pt-10
			.container
				.row
					.col-lg-3.col-md-6.col-sm-12.text-center.mb-5
						.icon.bg-primary-light.rounded-lg.mb-4.p-3
							img(alt='Icon' src='/images/icons/primary/cursor-click-2.svg', height='48')
						h5
							span.counter#counter_1
							|
							|
							span.text-muted clicks
					.col-lg-3.col-md-6.col-sm-12.text-center.mb-5
						.icon.bg-primary-light.rounded-lg.mb-4.p-3
							img(alt='Icon' src='/images/icons/primary/magic-1.svg', height='48')
						h5
							span.counter#counter_2
							| +
							|
							span.text-muted sponsors
					.col-lg-3.col-md-6.col-sm-12.text-center.mb-5
						.icon.bg-primary-light.rounded-lg.mb-4.p-3
							img(alt='Icon' src='/images/icons/primary/layers-3.svg', height='48')
						h5
							span.counter#counter_3
							|
							|
							span.text-muted bits
					.col-lg-3.col-md-6.col-sm-12.text-center.mb-5
						.icon.bg-primary-light.rounded-lg.mb-4.p-3
							img(alt='Icon' src='/images/icons/primary/chart-up.svg', height='48')
						h5
							| $
							span.counter#counter_4
							|
							|
							span.text-muted prize


		// VIDEO
		#video.pb-4(data-aos="fade")
			.container.pb-5.pt-2
				.row
					.col-lg-5.col-md-12.col-sm-12.my-auto.py-8.mr-auto
						.initialism.mb-4.text-muted Demo video
						h5.mb-2 Power of good design
						p.lead.mb-5 Replacer is a perfect tool to start making landing pages with Bootstrap 4. We provide content-oriented, clean, and mobile-first layouts, which you can easily customize for your needs. Here are some carefully designed demos, use it out of the box or customize the way you want. We also made illustrations and line icons
						hr.mb-4
						a.btn-link.text-primary.hvr-icon-forward(href="/pages/page-apply.html")
							| Request a demo
							small
								i.fas.fa-chevron-right.ml-2.hvr-icon
					.col-lg-6.col-md-12.col-sm-12.my-auto.py-8
						.card.border-0.rounded-lg
							img.w-100.rounded-lg(alt='Video' src='/images/photos/aideal-hwa-dbwuE1t6T7o-unsplash.jpg')
							a.btn.btn-link.position-absolute.d-flex.w-100.h-100(href='https://www.youtube.com/watch?v=9E6b3swbnWg', data-fancybox='gallery')
								img.hvr-grow.m-auto.rounded-circle.shadow-lg(alt='Play' src='/images/assets/video-play.svg', height='80')


		// BRANDS
		#brands.pt-7.pb-6.bg-light
			.container
				.row
					.col-lg-5.col-md-12.mx-auto.text-center.py-8(data-aos="fade-up")
						img.mb-6(alt='Logo' src='/images/brands/colored/amazon.svg', height='48')
						p.lead.mx-3.mb-5 Replacer uses Bootstrap components to the fullest. We didn't code new CSS styles if Bootstrap already had the solution, so the theme loads quickly and easy to customize, and in many cases, you won't need to read more documentation than necessary
						.d-flex.align-items-center.mx-auto.text-center.justify-content-center
							img.rounded-circle.my-auto.border(alt='Photo' src='/images/people/4.jpg', width="48")
							.ml-3.text-left
								.initialism.text-primary Maria Jacobs
								.text-muted Designer
					.col-lg-5.col-md-12.mx-auto.text-center.py-8(data-aos="fade-up")
						img.mb-6(alt='Logo' src='/images/brands/colored/babel.svg', height='48')
						p.lead.mx-3.mb-5 Replacer uses Bootstrap components to the fullest. We didn't code new CSS styles if Bootstrap already had the solution, so the theme loads quickly and easy to customize, and in many cases, you won't need to read more documentation than necessary
						.d-flex.align-items-center.mx-auto.text-center.justify-content-center
							img.rounded-circle.my-auto.border(alt='Photo' src='/images/people/6.jpg', width="48")
							.ml-3.text-left
								.initialism.text-primary Mark Jacobs
								.text-muted Manager


		// FEATURES
		#features
			.container.jarallax(style="background: url('/images/bg/bg_02.svg') center center no-repeat;")
				.row
					.col-lg-5.col-md-12.my-auto.py-5.mr-auto(data-aos="fade")
						.initialism.mb-4.text-muted Killer features
						.row.mb-1
							.col.d-flex.py-2
								img(alt='Icon' src='/images/icons/primary/energy.svg', height='48')
								.ml-3
									h3.h5 Background system
									p.text-muted.mr-5 Replacer uses Bootstrap components to the fullest. We didn't code new CSS styles if Bootstrap already had the solution, so the theme loads quickly and easy to customize, and in many cases, you won't need to read more documentation than necessary
						.row.mb-1
							.col.d-flex.py-2
								img(alt='Icon' src='/images/icons/primary/mac.svg', height='48')
								.ml-3
									h3.h5 Content-oriented design
									p.text-muted.mr-5 Replacer provides an extremely solid and clean design to focus your visitors on what you want to tell them, and this lightweight design will never go out of trends
						hr.mt-2.mb-4
						a.btn-link.text-muted(href="#")
							i.fas.fa-compass.mr-2
							| Learn more
					.col-lg-6.py-8(data-aos="fade-up")
						img.w-100(alt='Illustration' src='/images/illustrations/illustration_2.png')


		// TESTIMONIALS
		#testimonials.pt-14.pb-12.bg-light(data-aos="fade")
			.container
				.row
					.col.text-center
						h2.display-3.mb-4
							| 3000+ customers
						p.lead.mb-8
							| We love our customers
				.row.mb-5(data-aos="fade-up")
					.col
						.card-columns
							.card.mb-4.border.bg-white.rounded-lg
								.card-body.p-4
									p
										i.fa.fa-star.mr-1.text-warning
										i.fa.fa-star.mr-1.text-warning
										i.fa.fa-star.mr-1.text-warning
										i.fa.fa-star.mr-1.text-warning
										i.fa.fa-star-half-alt.mr-2.text-warning
										span.small.text-muted 4.5
									p.card-text.mr-4
										| This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
									span.small.text-muted.mb-0 By
									a.small.mx-1(href="#") John Black
							.card.mb-4.border.bg-white.rounded-lg
								.card-body.p-4
									p
										i.fa.fa-star.mr-1.text-warning
										i.fa.fa-star.mr-1.text-warning
										i.fa.fa-star.mr-1.text-warning
										i.fa.fa-star.mr-1.text-warning
										i.fa.fa-star.mr-2.text-warning
										span.small.text-muted 5
									p.card-text.mr-4
										| Awesome App!
									span.small.text-muted.mb-0 By
									a.small.mx-1(href="#") John Black
							.card.mb-4.border.bg-white.rounded-lg
								.card-body.p-4
									p
										i.fa.fa-star.mr-1.text-warning
										i.fa.fa-star.mr-1.text-warning
										i.fa.fa-star.mr-1.text-warning
										i.fa.fa-star.mr-1.text-warning
										i.fa.fa-star-half-alt.mr-2.text-warning
										span.small.text-muted 4.5
									p.card-text.mr-4
										| Text below as a natural lead-in to additional content. This content is a little bit longer.
									span.small.text-muted.mb-0 By
									a.small.mx-1(href="#") John Black
	 
							.card.mb-4.border.bg-white.rounded-lg
								.card-body.p-4
									p
										i.fa.fa-star.mr-1.text-warning
										i.fa.fa-star.mr-1.text-warning
										i.fa.fa-star.mr-1.text-warning
										i.fa.fa-star.mr-1.text-warning
										i.fa.fa-star.mr-2.text-warning
										span.small.text-muted 5
									p.card-text.mr-4
										| Modern design is a top priority. With Replacer anyone can create stunning websites
									span.small.text-muted.mb-0 By
									a.small.mx-1(href="#") John Black
							.card.mb-4.border.bg-white.rounded-lg
								.card-body.p-4
									p
										i.fa.fa-star.mr-1.text-warning
										i.fa.fa-star.mr-1.text-warning
										i.fa.fa-star.mr-1.text-warning
										i.fa.fa-star.mr-1.text-warning
										i.fa.fa-star.mr-2.text-warning
										span.small.text-muted 5
									p.card-text.mr-4
										| This content is a little bit longer.
									span.small.text-muted.mb-0 By
									a.small.mx-1(href="#") John Black
							.card.mb-4.border.bg-white.rounded-lg
								.card-body.p-4
									p
										i.fa.fa-star.mr-1.text-warning
										i.fa.fa-star.mr-1.text-warning
										i.fa.fa-star.mr-1.text-warning
										i.fa.fa-star.mr-1.text-warning
										i.fa.fa-star.mr-2.text-warning
										span.small.text-muted 5
									p.card-text.mr-4
										| Modern design is a top priority. With Replacer anyone can create stunning websites
									span.small.text-muted.mb-0 By
									a.small.mx-1(href="#") John Black
				.row
					.col.text-center
						a.btn-link.text-muted.hvr-icon-forward(href="#")
							i.fas.fa-compass.mr-2
							| View all reviews


		// FOOTER
		include /utilities/_footer.pug
		// light-footer(lead_bg_color, lead_border_color, lead_text_color, lead_btn_color, footer_bg, title_bg, text_color, link_color, subscribe_bg, subscribe_button, logo_file)

		+light-footer('bg-light', '', '', 'btn-secondary', 'bg-white', 'text-dark', 'text-muted', 'text-muted', '', 'btn-gray', '/images/logo-mono-green.svg')

		include /utilities/_scripts.pug