doctype html
html(lang="en")
	head
		include /utilities/_head.pug
	body


		// HEADER
		#header.bg-light
			include /utilities/_navbar.pug
			+navbar-mixin('navbar-light', 'btn-secondary')
			#breadcrumbs.container
				.row
					.col
						hr.mt-10
						include /utilities/_breadcrumb.pug
						+breadcrumb-mixin('text-muted', ['Home', 'Pages', 'Password recovery'])

		// FORM 
		#form.bg-light.pt-10.pb-16
			.container
				.row
					.col-lg-6.col-md-10.m-auto
						.card.rounded-lg.shadow-sm
							.card-header.px-lg-7.px-4.pt-3.pb-0.border-0.bg-transparent
								.row.d-flex.justify-content-center
									.col.pt-4.mb-2
										h5 Password recovery 
							.card-block.px-lg-7.px-4.pb-6
								p.lead.text-muted.mb-4.mr-3 Enter your email, which you used for registration to recover your password or please 

									a(href="#") contact us 
									| if you require any assistance
								form
									.input-group.mb-5
										input.form-control.rounded.mx-0.mr-2(type='text', placeholder="Enter your email", aria-label="Email")
										button.btn.btn-primary(type='button') Submit information 
									a.text-muted(href='/pages/page-login.html')
										i.fas.fa-caret-square-left.mr-2
										| Go back to login

											
		// FOOTER
		include /utilities/_footer.pug
		// light-footer(lead_bg_color, lead_border_color, lead_text_color, lead_btn_color, footer_bg, title_bg, text_color, link_color, subscribe_bg, subscribe_button, logo_file)
		+light-footer('bg-light', '', '', 'btn-secondary', 'bg-white', 'text-dark', 'text-muted', 'text-muted', '', 'btn-gray', '/images/logo-mono-green.svg')

		include /utilities/_scripts.pug