extends /docs/docs-layout.pug

block content
	h1.display-4 Devices
	p.mb-4.lead Replacer's devices mockups
	h5.mb-3 How it works
	p.mb-4 Replacer provides several devices mockups to promote your products, each of them you can find in Figma file, just replacer default screenshot and customize them

	img.w-100.mb-6.rounded.border(alt='Figma' src='/images/docs/devices_figma.png')

	h5.mb-3 Exported example
	p.mb-4 All premade devices mockups are in
		|
		|
		code.bg-secondary-light.text-secondary.py-1.px-2.rounded /images/devices/
		|
		| folder, and this is just an example of customization:

	div.icon.bg-light.rounded.px-0.pt-3.mx-auto.border
		img.w-100.p-8(alt='Example' src='/images/docs/devices_figma_export.png')
