extends /docs/docs-layout.pug

block content
	h1.display-4 Illustrations
	p.mb-4.lead 9 beautiful illustrations for your purposes

	h5.mb-3 List of illustrations
	p.mb-4 We made 9 modern flat illustrations, especially for Replacer, so feel free to customize them in the Figma file, which is also included. All illustrations are placed in
		|
		|
		code.bg-secondary-light.text-secondary.py-1.px-2.rounded /images/illustrations/
		|
		| folder


	.container.mx-0.px-0
		.row
			.col-lg-6.mb-3
				div.icon.bg-light.rounded.p-2.mx-auto.mb-2.border.w-100
					img.w-100(alt='Illustration' src='/images/illustrations/illustration_1.png')
				div.small.text-muted illustration_1.png
			.col-lg-6.mb-3
				div.icon.bg-light.rounded.p-2.mx-auto.mb-2.border.w-100
					img.w-100(alt='Illustration' src='/images/illustrations/illustration_2.png')
				div.small.text-muted illustration_2.png
			.col-lg-6.mb-3
				div.icon.bg-light.rounded.p-2.mx-auto.mb-2.border.w-100
					img.w-100(alt='Illustration' src='/images/illustrations/illustration_3.png')
				div.small.text-muted illustration_3.png
			.col-lg-6.mb-3
				div.icon.bg-light.rounded.p-2.mx-auto.mb-2.border.w-100
					img.w-100(alt='Illustration' src='/images/illustrations/illustration_4.png')
				div.small.text-muted illustration_4.png
			.col-lg-6.mb-3
				div.icon.bg-light.rounded.p-2.mx-auto.mb-2.border.w-100
					img.w-100(alt='Illustration' src='/images/illustrations/illustration_5.png')
				div.small.text-muted illustration_5.png
			.col-lg-6.mb-3
				div.icon.bg-light.rounded.p-2.mx-auto.mb-2.border.w-100
					img.w-100(alt='Illustration' src='/images/illustrations/illustration_6.png')
				div.small.text-muted illustration_6.png
			.col-lg-6.mb-3
				div.icon.bg-light.rounded.p-2.mx-auto.mb-2.border.w-100
					img.w-100(alt='Illustration' src='/images/illustrations/illustration_7.png')
				div.small.text-muted illustration_7.png
			.col-lg-6.mb-3
				div.icon.bg-light.rounded.p-2.mx-auto.mb-2.border.w-100
					img.w-100(alt='Illustration' src='/images/illustrations/illustration_8.png')
				div.small.text-muted illustration_8.png
			.col-lg-6.mb-3
				div.icon.bg-light.rounded.p-2.mx-auto.mb-2.border.w-100
					img.w-100(alt='Illustration' src='/images/illustrations/illustration_9.png')
				div.small.text-muted illustration_9.png
