extends /docs/docs-layout.pug

block content
	h1.display-4 Preloader
	p.mb-4.lead Automatic page load progress bar. Read the 
		|
		|
		a(href="https://github.hubspot.com/pace/docs/welcome/") plugin&nbsp;documentation

	h5.mb-3 How to use
	p.mb-5 Include pace.js and a CSS theme of your choice, and you get a beautiful progress indicator for your page load and ajax navigation. No need to hook into any of your code, progress is detected automatically.

	img.w-100.border.mb-0.rounded(alt='Demo' src='/images/docs/preloader_demo.png')
	